.root {
  margin-bottom: 32px;
}

.output {
  border-radius: 5px;
  margin-bottom: 15px;
}

.outputTitle {
  padding: 8px 15px;
  font-weight: bold;
  color: #343434;
  background: #F2F9FC;
  border-color: #C8E6F3;
  border-radius: 5px 5px 0 0;
  border-style: solid;
  border-width: 1px;
}

.outputContent {
  padding: 15px;
  line-height: 22px;
  border-color: #C8E6F3;
  border-radius: 0 0 5px 5px;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
}

.file {
  border-radius: 5px;
  margin-bottom: 15px;
  background: #fff;
}

.fileName {
  padding: 15px;
  font: 14px Consolas, Menlo, Curier, monospace;
  color: #343434;
  background: #F7F7F7;
  border-color: #D5D5D5;
  border-radius: 5px 5px 0 0;
  border-style: solid;
  border-width: 1px;
}

.pre {
  padding: 15px;
  margin: 0;
  overflow: auto;
  font: 14px Consolas, Menlo, Curier, monospace;
  color: #333;
  line-height: 22px;
  border-color: #D5D5D5;
  border-radius: 0 0 5px 5px;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
}
